
    <section>
        <div class="container" style="margin-top: 100px;">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">item</th>
                        <th scope="col">Title</th>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
    {{#each products}}
    <tr>
        <td class="align-middle">
            <img src="/product-images/{{this._id}}.jpg" alt="" style="width: 100px; height: 50px;">
        </td>
        <td class="align-middle">{{this.food_item}}</td>
        <td class="align-middle">{{this.restaurant}}</td>
        <td class="align-middle">
            <button class="cart-item-count btn btn-sm btn-outline-secondary mr-2" onclick="changeQuantity('{{this._id}}','{{this.quantity}}', '{{../user}}', -1)">-</button>
            <span id="{{this._id}}">{{this.quantity}}</span>
            <button class="cart-item-count btn btn-sm btn-outline-secondary ml-2" onclick="changeQuantity('{{this._id}}','{{this.quantity}}','{{../user}}', 1)">+</button>
        </td>
        <td class="align-middle">Rs.{{this.price}}</td>
        <td class="align-middle">
            <a href="#" class="btn btn-danger btn-sm">Remove</a>
        </td>
    </tr>
    {{/each}}
</tbody>

            </table>
            <hr>
            <div class="d-flex flex-column align-items-end mt-3">
                <h3 class="mb-2">Total: Rs.<span id="total">{{total}}</span></h3>
                <a href="/place-order" class="btn btn-success">Place Order</a>
            </div>
        </div>
    </section>

<script>
    function changeQuantity(cartId, quantity, userId, count) {
    count = parseInt(count); // Ensure count is parsed as an integer
    quantity = parseInt(document.getElementById(cartId).innerText); // Get the latest quantity from the DOM
    console.log('@changeQuantity hbs before ajax');

    $.ajax({
        url: '/users/change-quantity/',
        data: {
            cartId: cartId,
            count: count
        },
        method: 'post',
        success: (response) => {
            console.log('@Success', response);
            if (response.success) {
                // Update the quantity with the new value
                let newQuantity = quantity + count;
                document.getElementById(cartId).innerHTML = newQuantity;
            }
        },
        error: (err) => {
            console.log('Error:', err);
        }
    });
}

</script>